:root{

}

body{
    margin: 0px;
    padding: 0px;
}

.father{
    background-color: #303443;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.caja{
    height: 100px;
    width: 100px;
    border-style: solid;
    background-color: #8ACCF3;
}