:root {
    --Color1: #EE7F98;
    --color2: #E44D26;
    --color3: #FFCA28;
    --color4: #1DA6F3;
    --color5: #E680FF;
    --color6: #BDBDBD;
    --color7: #FFE975;
    --color8: #FFFFFF;
    --color9: #715EB4;
    --color10:#E2F4FF;
}

body {
    margin: 0px;
    padding: 0px;
}

.grid__layout {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;

    width: 80%;
    margin:0 auto;
    background-color: #37EB7E;
    border: 5px solid;
    padding: 20px;
}

.caja {
    border-style: solid;
    text-align: center;
    line-height: 150px;
}

.caja1 {
    background-color: var(--Color1);
    grid-column: 1/4;/*Borde 1 al borde 4*/
}

.caja2 {
    background-color: var(--color2);
    grid-column: 1/2 span ;/*borde 1 a la casilla 2 */
}

.caja3 {
    background-color: var(--color3);
}

.caja4 {
    background-color: var(--color4);
    grid-column: 2 span/3;
}

.caja5 {
    background-color: var(--color5);
}

.caja6 {
    background-color: var(--color6);
    grid-column: 1/2 span;
    grid-row:4/2 span; /*2 span */
}

.caja7 {
    background-color: var(--color7);
}

.caja8 {
    background-color: var(--color8);
}

.caja9 {
    background-color: var(--color9);
    grid-column: 1/4;
}